# Use this file to specify the dependencies for your project. 

# To generate this file with the current environment's packages and their versions: 
# pip freeze > requirements.txt 

# You can install them using pip:
# pip install -r requirements.txt

comtypes==1.4.16  
pyjokes==0.8.3
pypiwin32==223 
pyttsx3==2.99
pywin32==311 
flet==0.85.2
flet-cli==0.85.2
flet-desktop==0.85.2
pyinstaller==6.20.0
